:root {
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------- HEADER -------------------*/
.header {
}
.header-nav {
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo-end {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-nav-list {
}
.head-nav-item {
}
.head-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.header-address {
}
.head-address-list {
}
.head-address-item {
}
.head-address-link {
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*---------HERO--------------------------*/
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}
.hero-btn {
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
}

/*---------FEATURES--------------------------*/
.features {
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.features-item-text {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/*---------DOING--------------------------*/
.doing {
}
.doing-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.doing-list {
}
.doing-item {
}

/*---------TEAM--------------------------*/
.team {
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
}
.team-item {
}
.team-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.team-item-text {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/*------------FOOTER--------------------*/
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-end {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/*------------PORTFOLIO--------------------*/
.portfolio {
}
.portfolio-title {
}
.filter-list {
}
.filter-item {
}
.filter-item-btn {
  color: #4d5ae5;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.filter-item-btn:hover,
.filter-item-btn:focus {
  color: #fff;
  background-color: #404bbf;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.cards-list {
}
.cards-item {
}
.cards-item-link {
}
.cards-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.cards-item-text {
  color: #434455;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
